@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media (max-width: 991.98px) {
  .container {
    max-width: 950px;
  }
}
@media (max-width: 767.98px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0 15px;
  }
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 400px) {
  .header-top {
    padding: 0;
  }
}

.header-top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 123px;
}

.header-top__logo {
  margin-right: 61px;
}
@media (max-width: 479.98px) {
  .header-top__logo img {
    width: 60px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media (max-width: 991.98px) {
  .nav__list {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    top: 111px;
    left: -9px;
    padding-left: 45px;
    background-color: #fff;
    overflow: auto;
    z-index: 9;
    height: 0;
  }
  .nav__list .nav__item {
    margin-bottom: 45px;
  }
  .nav__list.active {
    padding-top: 50px;
    height: 60%;
  }
}

.nav__item {
  margin-right: 45px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
.nav__item a {
  color: #292D32;
}
.nav__item a:hover {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #33A9FF;
}
@media (max-width: 1200px) {
  .nav__item {
    font-size: 12px;
  }
}
@media (max-width: 991.98px) {
  .nav__item {
    font-size: 15px;
  }
}

.header-top__search {
  position: relative;
  z-index: 999;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 991.98px) {
  .header-top__search {
    text-align: end;
    margin-right: 30px;
  }
}

.header__user-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-panel__items {
  margin-right: 30px;
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9F9F9;
  border-radius: 49px;
  text-align: center;
}
.user-panel__items:last-child {
  margin-right: 0;
  position: relative;
}
.user-panel__items:last-child span {
  position: absolute;
  background-color: #33A9FF;
  padding: 1px 4px 1px 5px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  top: 0;
  right: 2px;
}
@media (max-width: 1200px) {
  .user-panel__items {
    width: 46px;
    height: 46px;
  }
}
@media (max-width: 991.98px) {
  .user-panel__items {
    margin-right: 15px;
  }
  .user-panel__items--configure, .user-panel__items--favorites {
    display: none;
  }
}

.header__burger-menu {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 54px;
  height: 54px;
  background-color: #F9F9F9;
  border-radius: 49px;
  margin-left: 15px;
  overflow: hidden;
}
.header__burger-menu span {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #292D32;
}
.header__burger-menu span:nth-of-type(2) {
  top: calc(50% - 8px);
}
.header__burger-menu span:nth-of-type(3) {
  top: calc(50% + 8px);
}
@media (max-width: 991.98px) {
  .header__burger-menu {
    display: block;
  }
}
@media (max-width: 400px) {
  .header__burger-menu {
    width: 46px;
    height: 46px;
  }
}

.header__burger-menu.active span:first-of-type {
  display: none;
}
.header__burger-menu.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.header__burger-menu.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header-inner {
  background: url("../img/header/inner/dell.png") 260px 95px no-repeat, url("../img/header/inner/inner-bg.png") right 0px no-repeat;
  background-color: #F2F2F2;
  min-height: 690px;
  width: 100%;
}
@media (max-width: 1600px) {
  .header-inner {
    background: url("../img/header/inner/dell.png") 90px 95px no-repeat, url("../img/header/inner/inner-bg.png") right 0px no-repeat;
    background-color: #f2f2f2;
  }
}
@media (max-width: 1443px) {
  .header-inner {
    background: url("../img/header/inner/dell.png") 90px 60px no-repeat;
    background-color: #f2f2f2;
  }
}
@media (max-width: 991.98px) {
  .header-inner {
    min-height: 600px;
    background: url("../img/header/inner/dell.png") 32px 22px no-repeat;
    background-color: #f2f2f2;
  }
}
@media (max-width: 767.98px) {
  .header-inner {
    min-height: 900px;
    background: url("../img/header/inner/dells.png") 32px 22px no-repeat;
    background-color: #F2F2F2;
  }
}
@media (max-width: 767.98px) {
  .header-inner {
    min-height: 890px;
    background: url("../img/header/inner/dells.png") 32px 22px no-repeat;
    background-color: #F2F2F2;
  }
}
@media (max-width: 560px) {
  .header-inner {
    min-height: 860px;
    background: url("../img/header/inner/dells.png") 32px 22px no-repeat;
    background-color: #F2F2F2;
  }
}
@media (max-width: 480px) {
  .header-inner {
    min-height: 800px;
    background: url("../img/header/inner/dells.png") 32px 22px no-repeat;
    background-color: #F2F2F2;
  }
}
@media (max-width: 440px) {
  .header-inner {
    min-height: 735px;
    background: url("../img/header/inner/dells.png") 32px 22px no-repeat;
    background-color: #F2F2F2;
  }
}
@media (max-width: 400px) {
  .header-inner {
    min-height: 680px;
    background: url("../img/header/inner/dells.png") 32px 22px no-repeat;
    background-color: #F2F2F2;
  }
}

.content-help {
  position: relative;
}
.content-help__text {
  position: absolute;
  top: 395px;
  left: -45px;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  font-size: 16px;
  font-weight: 300;
  color: #838383;
}
.content-help__image {
  position: absolute;
  bottom: -520px;
  left: 0;
}
@media (max-width: 991.98px) {
  .content-help {
    display: none;
  }
}

.header-inner__content {
  max-width: 1262px;
  max-height: 539px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12% 0 0 2%;
}
@media (max-width: 1280px) {
  .header-inner__content {
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .header-inner__content {
    padding: 5% 0px 0px 20px;
  }
}
@media (max-width: 991.98px) {
  .header-inner__content {
    padding: 11% 0 0 0;
  }
}
@media (max-width: 767.98px) {
  .header-inner__content {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content__desc {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 82px 15px 0px 33px;
}
@media (max-width: 991.98px) {
  .content__desc {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
}
@media (max-width: 767.98px) {
  .content__desc {
    padding: 21px 0px 0px 0px;
  }
}

.content__desc-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 133%;
  color: #838383;
  padding-bottom: 10px;
}
@media (max-width: 767.98px) {
  .content__desc-text {
    padding-bottom: 5px;
  }
}

.content__desc-title {
  font-size: 50px;
  font-weight: 400;
  color: #292D32;
  padding-bottom: 60px;
}
@media (max-width: 1360px) {
  .content__desc-title {
    font-size: 40px;
  }
}
@media (max-width: 1260px) {
  .content__desc-title {
    font-size: 36px;
  }
}
@media (max-width: 1170px) {
  .content__desc-title {
    font-size: 34px;
  }
}
@media (max-width: 1096px) {
  .content__desc-title {
    font-size: 30px;
  }
}
@media (max-width: 991.98px) {
  .content__desc-title {
    max-width: 285px;
  }
}
@media (max-width: 855px) {
  .content__desc-title {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .content__desc-title {
    padding-bottom: 23px;
    font-size: 30px;
  }
}

.content__desc-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__image {
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #33A9FF;
  border-radius: 55px;
}
@media (max-width: 767.98px) {
  .button__image {
    width: 48px;
    height: 48px;
  }
}

.button__text {
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__slider img {
  width: 100%;
}
.content__slider .discount__arrow {
  position: absolute;
  bottom: 109px;
  right: -26%;
  margin-top: 30px;
  outline: none;
  border: none;
  background: transparent;
}
@media (max-width: 1200px) {
  .content__slider .discount__arrow {
    bottom: 20px;
    right: -23%;
  }
}
@media (max-width: 1124px) {
  .content__slider .discount__arrow {
    bottom: 20px;
    right: 15%;
  }
}
@media (max-width: 767.98px) {
  .content__slider .discount__arrow {
    right: -12px;
  }
}
@media (max-width: 380px) {
  .content__slider .discount__arrow {
    display: none;
  }
}
.content__slider .discount__arrow-s {
  display: none;
  position: absolute;
  bottom: 18px;
  right: -29%;
  margin-top: 30px;
  outline: none;
  border: none;
  background: transparent;
}
@media (max-width: 380px) {
  .content__slider .discount__arrow-s {
    right: -12px;
    display: block;
  }
}

.slider-wrapper {
  max-width: 555px;
  overflow: hidden;
}

.slider-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.slider-line img {
  width: 100%;
}

.slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 121px;
  right: 0;
}
.slider-dots span {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #d2d2d2;
  margin-right: 5px;
}
.slider-dots span:last-child {
  margin-right: 0px;
}
.slider-dots .active {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #292D32;
}
@media (max-width: 1200px) {
  .slider-dots {
    bottom: 30px;
    right: 70px;
  }
}
@media (max-width: 1200px) {
  .slider-dots {
    bottom: 30px;
    right: 42%;
  }
}

.content__discount {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 30px 0px 0px 100px;
}
@media (max-width: 1200px) {
  .content__discount {
    padding: 30px 0px 0px 15px;
  }
}
@media (max-width: 1124px) {
  .content__discount {
    display: none;
  }
}

.discount__text {
  font-size: 25px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto";
  color: #292D32;
}