@font-face {
    font-family: 'EuclidCircularA';
    src: url(./EuclidCircularA-Bold.eot);
    src: url(./EuclidCircularA-Bold.eot?#iefix) format('embedded-opentype'),
         url(./EuclidCircularA-Bold.otf) format('otf'),
         url(./EuclidCircularA-Bold.svg#EuclidCircularA-Bold) format('svg'),
         url(./EuclidCircularA-Bold.ttf) format('truetype'),
         url(./EuclidCircularA-Bold.woff) format('woff');
  }
  @font-face {
    font-family: 'EuclidCircularA';
    src: url(./EuclidCircularA-Light.eot);
    src: url(./EuclidCircularA-Light.eot?#iefix) format('embedded-opentype'),
         url(./EuclidCircularA-Light.svg#EuclidCircularA-Light) format('svg'),
         url(./EuclidCircularA-Light.otf) format('otf'),
         url(./EuclidCircularA-Light.ttf) format('truetype'),
         url(./EuclidCircularA-Light.woff) format('woff');
  }
  @font-face {
    font-family: 'EuclidCircularA';
    src: url(./EuclidCircularA-SemiBold.eot);
    src: url(./EuclidCircularA-SemiBold.eot?#iefix) format('embedded-opentype'),
         url(./EuclidCircularA-SemiBold.otf) format('otf'),
         url(./EuclidCircularA-SemiBold.svg#EuclidCircularA-SemiBold) format('svg'),
         url(./EuclidCircularA-SemiBold.ttf) format('truetype'),
         url(./EuclidCircularA-SemiBold.woff) format('woff');
  }
  @font-face {
    font-family: 'RubikOne';
    src: url(./RubikOne-Regular.eot);
    src: url(./RubikOne-Regular.eot?#iefix) format('embedded-opentype'),
         url(./RubikOne-Regular.otf) format('otf'),
         url(./RubikOne-Regular.svg#RubikOne-Regular) format('svg'),
         url(./RubikOne-Regular.ttf) format('truetype'),
         url(./RubikOne-Regular.woff) format('woff');
  }  