// Header

.container {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0px 15px;

    @media (max-width: 991.98px) {
        max-width: 950px;
    }

    @media (max-width: 767.98px) {
        width: 100%;
        margin: 0;
        padding: 0 15px;
    }
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 400px) {
        padding: 0;
    }
}

.header-top__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 123px;
}

.header-top__logo {
    margin-right: 61px;

    @media (max-width: 479.98px) {
        img {
            width: 60px;
        }
    }
}

.nav__list {
    display: flex;
    transition: all .3s linear;

    @media (max-width: 991.98px) {
        position: absolute;
        flex-direction: column;
        width: 100%;
        top: 111px;
        left: -9px;
        padding-left: 45px;
        background-color: #fff;
        overflow: auto;
        z-index: 9;
        height: 0;

        .nav__item {
            margin-bottom: 45px;
        }

        &.active {
            padding-top: 50px;
            height: 60%;
        }
    }
}

.nav__item {
    margin-right: 45px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;


    a {
        color: #292D32;

        &:hover {
            transition: 0.3s ease-in-out;
            color: #33A9FF;
        }
    }

    @media (max-width: 1200px) {
        font-size: 12px;
    }

    @media (max-width: 991.98px) {
        font-size: 15px;
    }
}

.header-top__search {
    position: relative;
    z-index: 999;
    cursor: pointer;
    flex-grow: 1;

    @media (max-width: 991.98px) {
        text-align: end;
        margin-right: 30px;
    }
}

.header__user-panel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-panel__items--user {
    &:hover {
        transition: 0.5s ease-in-out;
        .user-profile {
            display: block;
        }
    }
}

.header__user-panel-profile {
    display: inline-block;
}

.user-panel__items {
    margin-right: 30px;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 49px;
    text-align: center;

    &:last-child {
        margin-right: 0;
        position: relative;

        span {
            position: absolute;
            background-color: #33A9FF;
            padding: 1px 4px 1px 5px;
            border-radius: 16px;
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            top: 0;
            right: 2px;
        }
    }

    @media (max-width: 1200px) {
        width: 46px;
        height: 46px;
    }

    @media (max-width: 991.98px) {
        margin-right: 15px;

        &--configure,
        &--favorites {
            display: none;
        }
    }

}

.header__burger-menu {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 54px;
    height: 54px;
    background-color: #F9F9F9;
    border-radius: 49px;
    margin-left: 15px;
    overflow: hidden;

    span {
        position: absolute;
        width: 20px;
        height: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease-in-out;
        background-color: #292D32;

        &:nth-of-type(2) {
            top: calc(50% - 8px);
        }

        &:nth-of-type(3) {
            top: calc(50% + 8px);
        }
    }


    @media(max-width: 991.98px) {
        display: block;
    }

    @media(max-width: 400px) {
        width: 46px;
        height: 46px;
    }
}

.header__burger-menu.active {
    span {
        &:first-of-type {
            display: none;
        }

        &:nth-of-type(2) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-of-type(3) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

.user-profile {
    display: none;
    z-index: 999;
    position: absolute;
    right: 17%;
    top: 12%;
    flex-direction: column;
    text-align: left;
    width: 405px;
    height: 375px;
    background-color: #ffffff;
    border-radius: 20px;
    
    li {
        padding-left: 30px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid #f2f2f2;

        &:last-child {
            border-bottom: 0;
        }

        a {
            font-size: 20px;
            font-weight: 400;
            line-height: 150%;
            color: #292D32;
            text-decoration: none;
        }
    }
}


.user-profile__avatar-name {
    padding-top: 15px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: relative;
}

.user-profile__decor {
    position: absolute;
    top: -9px;
    left: 44%;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.user-profile__avatar {
    margin-right: 30px;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 49px;
    text-align: center;

}

.user-profile__name {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}





// Header Inner

.header-inner {
    background: url('../img/header/inner/dell.png') 260px 95px no-repeat, url('../img/header/inner/inner-bg.png') right 0px no-repeat;
    background-color: #F2F2F2;
    min-height: 690px;
    width: 100%;
    margin-bottom: 154px;

    @media(max-width: 1600px) {
        background: url('../img/header/inner/dell.png') 90px 95px no-repeat, url('../img/header/inner/inner-bg.png') right 0px no-repeat;
        background-color: #f2f2f2;
    }

    @media (max-width: 1443px) {
        background: url('../img/header/inner/dell.png') 90px 60px no-repeat;
        background-color: #f2f2f2;
    }

    @media (max-width: 1200px) {
        margin-bottom: 0;
    }

    @media (max-width: 991.98px) {
        min-height: 1000px;
        background: url('../img/header/inner/dell.png') 32px 22px no-repeat;
        background-color: #f2f2f2;
    }

    @media (max-width: 767.98px) {
        min-height: 900px;
        background: url("../img/header/inner/dells.png") 32px 22px no-repeat;
        background-color: #F2F2F2;
    }

    @media (max-width: 767.98px) {
        min-height: 890px;
        background: url("../img/header/inner/dells.png") 32px 22px no-repeat;
        background-color: #F2F2F2;
    }

    @media (max-width: 560px) {
        min-height: 860px;
        background: url("../img/header/inner/dells.png") 32px 22px no-repeat;
        background-color: #F2F2F2;
    }

    @media (max-width: 480px) {
        min-height: 800px;
        background: url("../img/header/inner/dells.png") 32px 22px no-repeat;
        background-color: #F2F2F2;
    }

    @media (max-width: 440px) {
        min-height: 735px;
        background: url("../img/header/inner/dells.png") 32px 22px no-repeat;
        background-color: #F2F2F2;
    }

    @media (max-width: 400px) {
        min-height: 600px;
        background: url("../img/header/inner/dells.png") 32px 22px no-repeat;
        background-color: #F2F2F2;
    }
}

.content-help {
    position: relative;

    &__text {
        position: absolute;
        top: 395px;
        left: -45px;
        transform: rotate(270deg);
        font-size: 16px;
        font-weight: 300;
        color: #838383;
    }

    &__image {
        position: absolute;
        bottom: -520px;
        left: 0;
    }

    @media (max-width: 991.98px) {
        display: none;
    }
}

.header-inner__content {
    max-width: 1262px;
    max-height: 539px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12% 0 0 2%;

    @media (max-width: 1280px) {
        max-width: 100%;
    }

    @media (max-width: 1200px) {
        padding: 5% 0px 0px 20px;
    }

    @media (max-width: 991.98px) {
        padding: 11% 0 0 0;
        display: block;
        flex-direction: column;
    }

    @media (max-width: 767.98px) {}
}

.content__desc {
    flex: 1 0 auto;
    padding: 82px 15px 0px 33px;

    // @media(max-width: 1124px) {
    //     flex: 1 0 0%;
    // }

    @media (max-width: 991.98px) {
        flex: 1 0 0%;
    }

    @media(max-width: 767.98px) {
        padding: 21px 0px 0px 0px;
    }
}

.content__desc-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 133%;
    color: #838383;
    padding-bottom: 10px;

    @media (max-width: 767.98px) {
        padding-bottom: 5px;
    }
}

.content__desc-title {
    font-size: calc(30px + 20 * (100vw / 1400));
    font-weight: 400;
    color: #292D32;
    padding-bottom: 60px;

    @media (max-width: 767.98px) {
        padding-bottom: 23px;
    }
}

.block__button-text {
    display: flex;
}

.button__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 54px;
    height: 54px;
    background-color: #33A9FF;
    border-radius: 55px;

    @media (max-width: 767.98px) {
        width: 48px;
        height: 48px;
    }
}

.button__text {
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__slider {
    flex: 1 1 33.333%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    img {
        width: 100%;
    }

    .discount__arrow {
        position: absolute;
        bottom: 109px;
        right: -26%;
        margin-top: 30px;
        outline: none;
        border: none;
        background: transparent;

        @media(max-width: 1200px) {
            bottom: 20px;
            right: 5%;
        }


        @media (max-width: 767.98px) {
            right: -12px;
        }

        @media (max-width: 380px) {
            display: none;
        }
    }

    .discount__arrow-s {
        display: none;
        position: absolute;
        bottom: 18px;
        right: -29%;
        margin-top: 30px;
        outline: none;
        border: none;
        background: transparent;

        @media (max-width: 380px) {
            right: -12px;
            display: block;
        }
    }
}

// .slider-wrapper {
//     max-width: 80%;
//     overflow: hidden;
// }

// .slider-line {
//     display: flex;
//     position: relative;
//     left: 0;
//     transition: all 1s ease;

// }

.slider-wrapper {
    max-width: 555px;
    overflow: hidden;
}

.slider-line {
    display: flex;
    max-width: 100%;
    transition: all 1s;

    img {
        width: 100%;
    }
}

.slider-dots {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 121px;
    right: 0;

    span {
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: #d2d2d2;
        margin-right: 5px;

        &:last-child {
            margin-right: 0px;
        }
    }

    .active {
        width: 8px;
        height: 8px;
        border-radius: 5px;
        background-color: #292D32;
    }


    @media(max-width: 1200px) {
        bottom: 30px;
        right: 70px;
    }

    @media(max-width: 1200px) {
        bottom: 30px;
        right: 42%;
    }
}



.content__discount {
    flex: 1 1 auto;
    padding: 30px 0px 0px 30px;

    @media(max-width: 1200px) {
        display: none;
    }
}

.discount__text {
    font-weight: 400;
    font-size: calc(20px + 5 * (100vw / 1400));
}


.discount-block {
    background-color: #F9F9F9;
}

.content__discount-block {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 120px;

    @media(max-width: 1200px) {
        display: flex;
    }
}

.discount__text-block {
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
}

.discount__image-block {
    img {
        max-width: 100%;
    }
}